<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2" style= "border-bottom: 1px dashed #ccc"><h3>Title</h3></div>
      <div class="col-xs-6" style= "border-bottom: 1px dashed #ccc"><h3>Description</h3></div>
      <div class="col-xs-2" style= "border-bottom: 1px dashed #ccc"><h3>Owner</h3></div>
      <div class="col-xs-1" style= "border-bottom: 1px dashed #ccc"><h3>Type</h3></div>
      <div class="col-xs-1" ><</div>
    </div>
    <br>

    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="row">
          <div class="col-xs-2"><%= item.title %></div>
          <div class="col-xs-6"><%= item.description %></div>
          <div class="col-xs-2"><%= item.owner %></div>
          <div class="col-xs-1"><%= Type.find(item.type_id).title %></div>
          <div class="col-xs-1"><%= link_to 'Edit', edit_item_path(item) %><br>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
    <% else %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>
  </div>
<br>

<%= link_to 'New Item', new_item_path %>
<%= link_to 'Simple Search', search_items_path %>
